<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn column in Model.Columns)
            {
                <th>
                    @if (column.ColumnName.Equals("FirstName", StringComparison.OrdinalIgnoreCase))
                    {
                        
                            <form method="get">
                                <input type="hidden" name="sortBy" value="true" />
                                <button type="submit" class="btn btn-info ml-2">Sort</button>
                            </form>                        
                    }
                    else
                    {
                        @column.ColumnName
                    }
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var item in row.ItemArray)
                {
                    <td>@item</td>
                }
            </tr>
        }
    </tbody>
</table>


