@page
@model webSiteAndServer.Pages.AboutPageModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <h2>bar moshe : 206921777</h2><br />
    <h2>Gabriel Lempart : 206215311</h2>
</div>
