@page
@using System.Data;
@model webSiteAndServer.Pages.QueriesPageModel
@{

<!DOCTYPE html>
<head>
    <title>Query Tables</title>
    <!-- Add Bootstrap CSS link here -->
    
</head>
 <body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <h1 class="text-center">Query Tables</h1>
        </div>     
        <div class="row">
            <div class="col-md-3">
                <form method="post">
                   <div class="btn-group-vertical">
                        <button type="submit" name="queryName" value="query1" class="btn btn-primary mb-2">View All Players</button>
                        <button type="submit" name="queryName" value="query2" class="btn btn-primary mb-2">Query 2</button>
                        <button type="submit" name="queryName" value="query3" class="btn btn-primary mb-2">Query 3</button>
                        <button type="submit" name="queryName" value="query4" class="btn btn-primary mb-2">Query 4</button>
                        <button type="submit" name="queryName" value="query5" class="btn btn-primary mb-2">Query 5</button>
                        <button type="submit" name="queryName" value="query6" class="btn btn-primary mb-2">Query 6</button>
                        <button type="submit" name="queryName" value="query7" class="btn btn-primary mb-2">Query 7</button>
                   </div>
                </form>
            </div>
           <div class="col-md-9">
                <div class="table-container">
                  @if (ViewData["QueryResult"] is DataTable dataTable)
                        {
                            var selectedQuery = ViewData["SelectedQuery"];
                            var path = $"/Pages/Shared/_Query{selectedQuery}Table.cshtml";
                            @await Html.PartialAsync(path, dataTable)
                        }
                    </div>
                </div>
            </div>
        </div>
    
    
</body>



}
