@page
@using System.Data;
@using webSiteAndServer.Model;
@model webSiteAndServer.Pages.QueriesPageModel
@{

<!DOCTYPE html>
<head>
    <title>Query Tables</title>
    <!-- Add Bootstrap CSS link here -->
    
</head>
 <body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <h1 class="text-center">Query Tables</h1>
        </div>     
        <div class="row">
            <div class="col-md-3">
                <form method="post">
                   <div class="btn-group-vertical">
                        <button type="submit" name="queryName" value="query1" class="btn btn-primary mb-2">View All Players</button>
                        <button type="submit" name="queryName" value="query2" class="btn btn-primary mb-2">Query 2</button>
                        <button type="submit" name="queryName" value="query3" class="btn btn-primary mb-2">Query 3</button>
                        <button type="submit" name="queryName" value="query4" class="btn btn-primary mb-2">Query 4</button>
                        <button type="submit" name="queryName" value="query5" class="btn btn-primary mb-2">Query 5</button>
                        <button type="submit" name="queryName" value="query6" class="btn btn-primary mb-2">Query 6</button>
                        <button type="submit" name="queryName" value="query7" class="btn btn-primary mb-2">Query 7</button>
<button type="submit" name="queryName" value="query8" class="btn btn-primary mb-2">Query 8</button>
                   </div>
                </form>
            </div>
            
           <div class="col-md-9">
                    
                    @if (ViewData["UserCombo"] is  List<SelectListItem>)
                    {
                         <form method="post">
                            <label>Select a User:</label>
                                <select name="selectedUserId">
                                        @foreach (var user in Model.UsersCombo)
                                        {
                                            <option value="@user.Value">@user.Text</option>
                                        }
                                </select>
                                <button type="submit" name="queryName" value="query5">Show User Games</button>
                        </form>
                     
                    }
                    @if (ViewData["countryCombo"] is List<SelectListItem>)
                    {
                        <form method="post">
                            <label>Select a country:</label>
                            <select name="selectedCountryId">
                                @foreach (var country in Model.CountryCombo)
                                {
                                    <option value="@country.Value">@country.Text</option>
                                }
                            </select>
                            <button type="submit" name="queryName" value="query8">Show User by country</button>
                        </form>

                    }
                    <div class="table-container">
                    @if (ViewData["QueryResult"] is DataTable dataTable)
                     {
                           
                            var selectedQuery = ViewData["SelectedQuery"];
                            @if (selectedQuery is 7)
                            {
                            var path = $"/Pages/Shared/_Query{selectedQuery}Table.cshtml";
                            @await Html.PartialAsync(path, dataTable)

                            }else
                            {
                            var path = $"/Pages/Shared/_Query{selectedQuery}Table.cshtml";
                            @await Html.PartialAsync(path, dataTable)
                            }
                            
                     }
                      
                    </div>
                </div>
            </div>
        </div>
    
    
</body>



}
