@page
@model webSiteAndServer.Pages.SignInPageModel
@{
}

<div class="text-left">
    <h1 class="display-4">Sign-In</h1>
    @* Display error message if there's a model error *@
    @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <p>Please correct the following errors:</p>
            <ul>
                @foreach (var modelStateEntry in ViewData.ModelState.Values)
                {
                    foreach (var error in modelStateEntry.Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }
    <form method="post">
        <div class="form-group">
            <label for="firstName">First Name*</label>
            <input type="text" placeholder="Please enter your first name" class="form-control" id="firstName" asp-for="FirstName" minlength="2">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="identifier">Identifier*</label>
            <input type="number" placeholder="Please enter a number between 1 and 1000" class="form-control" id="identifier" asp-for="PlayerId">
            <span asp-validation-for="PlayerId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="phone">Phone*</label>
            <input type="tel" placeholder="Enter Phone Number" class="form-control" id="phone" asp-for="Phone" pattern="[0-9]{10}">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="country">Country*</label>
            <select class="form-control" id="country" asp-for="Country">
                <option value="">Select a country</option>
                <option value="USA">United States</option>
                <option value="UK">United Kingdom</option>
                <option value="Canada">Canada</option>
                <option value="Mexico">Mexico</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Italy">Italy</option>
                <option value="Spain">Spain</option>
                <option value="Russia">Russia</option>
                <option value="China">China</option>
            </select>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
